*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
font-family: 'Open Sans', sans-serif;
background-image:url(https://cdn.pixabay.com/photo/2022/12/01/17/52/sea-7629517_640.jpg);
background-repeat:no-repeat;
background-size:cover;
/* body'nin default yüksekliği yoktur. */
height:10vh;
/* tarayıcının görünen alanının 100%100 yüksekliği */
}
h1{
    padding:20px 0;
    text-align:center;
}
form{
background-image:linear-gradient(0deg,#d9afd9 0%,#97d9e1 100%);
width:fit-content;
margin: 20px auto;
padding:30px;
border-radius:10px;
}
/* label inline elementtir dolayısıyla width doğrudan çalışmaz */
label{
display: inline-block;
width:100px;
}
.lang-div, .gender-div{
    display:inline-block;
}
.lang-div label, .gender-div label{
width:auto;
margin-right:10px;
}
/* her şeyleri aynı olan ifadeleri virgül ile yan yana yazabiliriz. */
.inputs{
    border-radius:5px;
    width:300px;
    padding:10px;
    margin-bottom:10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.radio-check{
    margin-bottom:10px;
}
.btn-container{
    text-align:center;
}
.btn-container input{
width:100px;
border-radius:10px;
border:none;
background-color:hsl(307, 75%, 35%);
padding:10px;
}
.btn-container input:hover{
    background-color:hsl(260, 100%, 40%);
    color:aliceblue;
    font-weight:700;
    cursor:pointer;
}
.textarea-div *{
vertical-align:middle;
}
